# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof

.DS_Store
/.run
/.idea
/grammar/build
*/~test$*
/dist
/dist-*
/projectFilesBackup
/*.iml
/.swp
/sq
/demo
/scratch


# Some apps create temp files when editing, e.g. Excel with drivers/xlsx/testdata/~$test_header.xlsx
**/testdata/~*

gorelease-snapshot.sh
magefile_local.go
.goreleaser-local.yml
apt-install.sh
yum-install.sh
goreleaser-test.sh
/.vscode
/completions
/manpages
/cli/test.db
/*.db
/.CHANGELOG.delta.md
