{{ if .Parent }}
    {{ $name := trim (.Get "name") " " }}
    {{ $include := trim (.Get "include") " "}}
    {{ $codelang := .Get "codelang" }}
    {{ $subtitle := .Get "subtitle" }}
    {{ if not (.Parent.Scratch.Get "tabs") }}
        {{ .Parent.Scratch.Set "tabs" slice }}
    {{ end }}
    {{ with .Inner }}
        {{ if $codelang }}
            {{ $.Parent.Scratch.Add "tabs" (dict "name" $name "subtitle" $subtitle "content" (highlight . $codelang "") ) }}
        {{ else }}
            {{ $.Parent.Scratch.Add "tabs" (dict "name" $name "subtitle" $subtitle  "content" . ) }}
        {{ end }}
    {{ else }}
        {{ $.Parent.Scratch.Add "tabs" (dict "name" $name "subtitle" $subtitle "include" $include "codelang" $codelang) }}
    {{ end }}
{{ else }}
    {{- errorf "[%s] %q: tab shortcode missing its parent" site.Language.Lang .Page.Path -}}
{{ end}}
