/* jost-regular - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Regular"),   // Full Name
    local("Jost-Regular"),           // PostScript name
    // indestructible Jost*
    local("Jost* Book"),
    local("Jost-Book"),
    url("fonts/vendor/jost/jost-v4-latin-regular.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-500 - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Medium"),
    local("JostRoman-Medium"),
    // indestructible Jost*
    local("Jost* Medium"),
    local("Jost-Medium"),
    url("fonts/vendor/jost/jost-v4-latin-500.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-700 - latin */
@font-face {
  font-family: Jost;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Regular Bold"),
    local("JostRoman-Bold"),
    // indestructible Jost*
    local("Jost* Bold"),
    local("Jost-Bold"),
    url("fonts/vendor/jost/jost-v4-latin-700.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Italic"),
    local("Jost-Italic"),
    // indestructible Jost*
    local("Jost* BookItalic"),
    local("Jost-BookItalic"),
    url("fonts/vendor/jost/jost-v4-latin-italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-500italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Medium Italic"),
    local("JostItalic-Medium"),
    // indestructible Jost*
    local("Jost* Medium Italic"),
    local("Jost-MediumItalic"),
    url("fonts/vendor/jost/jost-v4-latin-500italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-500italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* jost-700italic - latin */
@font-face {
  font-family: Jost;
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src:
    // Google Fonts Jost
    local("Jost Italic Bold Italic"),
    local("JostItalic-Bold"),
    // indestructible Jost*
    local("Jost* Bold Italic"),
    local("Jost-BoldItalic"),
    url("fonts/vendor/jost/jost-v4-latin-700italic.woff2") format("woff2"),
    url("fonts/vendor/jost/jost-v4-latin-700italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Webfont: LatoLatin-Black */

@font-face {
  font-family: LatoLatinWebBlack;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Black.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Black.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Black.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Black.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Black.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-BlackItalic */

@font-face {
  font-family: LatoLatinWebBlack;
  src: url("fonts/vendor/LatoLatin/LatoLatin-BlackItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-BlackItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-BlackItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-BlackItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-BlackItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Bold */

@font-face {
  font-family: LatoLatinWeb;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Bold.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Bold.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Bold.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Bold.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-BoldItalic */

@font-face {
  font-family: LatoLatinWeb;
  src: url("fonts/vendor/LatoLatin/LatoLatin-BoldItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-BoldItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-BoldItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-BoldItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Hairline */

@font-face {
  font-family: LatoLatinWebHairline;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Hairline.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Hairline.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Hairline.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Hairline.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Hairline.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-HairlineItalic */

@font-face {
  font-family: LatoLatinWebHairline;
  src: url("fonts/vendor/LatoLatin/LatoLatin-HairlineItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-HairlineItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-HairlineItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-HairlineItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-HairlineItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Heavy */

@font-face {
  font-family: LatoLatinWebHeavy;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Heavy.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Heavy.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Heavy.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Heavy.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Heavy.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-HeavyItalic */

@font-face {
  font-family: LatoLatinWebHeavy;
  src: url("fonts/vendor/LatoLatin/LatoLatin-HeavyItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-HeavyItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-HeavyItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-HeavyItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-HeavyItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Italic */

@font-face {
  font-family: LatoLatinWeb;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Italic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Italic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Italic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Italic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Light */

@font-face {
  font-family: LatoLatinWebLight;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Light.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Light.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Light.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Light.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Light.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-LightItalic */

@font-face {
  font-family: LatoLatinWebLight;
  src: url("fonts/vendor/LatoLatin/LatoLatin-LightItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-LightItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-LightItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-LightItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-LightItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Medium */

@font-face {
  font-family: LatoLatinWebMedium;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Medium.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Medium.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Medium.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Medium.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-MediumItalic */

@font-face {
  font-family: LatoLatinWebMedium;
  src: url("fonts/vendor/LatoLatin/LatoLatin-MediumItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-MediumItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-MediumItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-MediumItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-MediumItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Regular */

@font-face {
  font-family: LatoLatinWeb;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Regular.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Regular.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Regular.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Regular.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Semibold */

@font-face {
  font-family: LatoLatinWebSemibold;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Semibold.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Semibold.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Semibold.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Semibold.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-SemiboldItalic */

@font-face {
  font-family: LatoLatinWebSemibold;
  src: url("fonts/vendor/LatoLatin/LatoLatin-SemiboldItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-SemiboldItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-SemiboldItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-SemiboldItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-Thin */

@font-face {
  font-family: LatoLatinWebThin;
  src: url("fonts/vendor/LatoLatin/LatoLatin-Thin.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-Thin.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-Thin.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-Thin.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-Thin.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizelegibility;
}

/* Webfont: LatoLatin-ThinItalic */

@font-face {
  font-family: LatoLatinWebThin;
  src: url("fonts/vendor/LatoLatin/LatoLatin-ThinItalic.eot"); /* IE9 Compat Modes */
  src:
    url("fonts/vendor/LatoLatin/LatoLatin-ThinItalic.eot?#iefix") format("embedded-opentype"),
    url("fonts/vendor/LatoLatin/LatoLatin-ThinItalic.woff2") format("woff2"),
    url("fonts/vendor/LatoLatin/LatoLatin-ThinItalic.woff") format("woff"),
    url("fonts/vendor/LatoLatin/LatoLatin-ThinItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
  text-rendering: optimizelegibility;
}
